# ============================
# IGNORE RAW + PROCESSED DATA
# ============================

# Ignore raw folder completely
data/raw/

# Ignore processed folder BUT allow the folder itself for exceptions
!data/processed/
data/processed/*

# Allow preprocessed_5000.csv to be tracked even though folder ignored
!data/processed/preprocessed_5000.csv

# ============================
# IGNORE SAMPLE DATA
# ============================

data/sample/*
!data/sample/sample_5000.csv   # only if you want to include it (optional)

# ============================
# IGNORE LARGE FILE TYPES
# ============================

*.pkl
*.zip

# ============================
# PYTHON ARTIFACTS
# ============================

__pycache__/
*.pyc

# ============================
# VIRTUAL ENVIRONMENTS
# ============================

venv/
env/
