# Ignore raw datasets (large)
data/raw/
data/processed/

# Ignore all CSVs inside data/raw or data/processed
data/raw/*.csv
data/processed/*.csv

# Ignore sample CSVs EXCEPT sample_5000.csv
data/sample/*.csv
# !data/sample/sample_5000.csv

# Ignore large files
*.pkl
*.zip

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
